html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90.68deg, #ffffff 1.59%, #d2d2d4 102.04%);
    position: relative;
}

.header {
    background: linear-gradient(114.66deg, rgba(52, 52, 52, 0.2) -14.14%, rgba(35, 35, 35, 0.24) 74.98%);
    box-shadow: 0px 0px 30px rgba(98, 98, 98, 0.35);
    position: sticky;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 1;
}

.search-form {
    position: relative;
    top: 0;
    left: 50%;
    margin-right: 10px auto;
    transform: translate(-50%, 10px);
    display: flex;
    justify-content: center;
}

.search-form input {
    height: 44px;
    width: 190px;
    padding-left: 10px;
    border-radius: 5px;
    background: linear-gradient(111.68deg, rgba(236, 234, 234, 0.92) 57.59%, rgba(230, 229, 229, 0.4) 102.04%);
    border: 0px solid rgba(241, 238, 238, 0.1);
    transition: width 300ms ease;

    &::placeholder {
        color: #2e2e2e;
    }

    &:focus {
        width: 300px;
        outline: 2px solid #2e2e2e;
    }

    @media screen and (min-width: 480px) {
        width: 250px;

        &:focus {
            width: 400px;
        }
    }
}

.search__label {
    position: relative;
    padding: 0;
}

.search-form .submit {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translate(0, 0);
    background: none;
    border: none;
    color: #2e2e2e;
}

.search-form .submit__icon {
    fill: currentColor;
    transition: transform 300ms ease;

    &:hover {
        transform: scale(1.15) rotate(15deg);
        cursor: pointer;
    }
}

.main {
    display: flex;
    position: relative;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
    gap: 20px;
}

.top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-left: auto;
    z-index: 1;
    border: 1px solid #7b797944;
    outline: none;
    box-shadow: 0px 0px 30px rgba(119, 119, 121, 0.35);
    background-color: #d2d2d4;
    color: #3e3e3e;
    padding: 10px;
    border-radius: 10px;
    fill: currentColor;
    transition: color 300ms ease, background 300ms ease;

    &:hover,
    &:focus {
        color: #d2d2d4;
        background: linear-gradient(114.66deg, rgba(52, 52, 52, 0.6) -14.14%, rgba(35, 35, 35, 0.54) 74.98%);
        cursor: pointer;
    }

    @media screen and (min-width: 780px) {
        bottom: 40px;
        right: 40px;
    }

    @media screen and (min-width: 1200px) {
        bottom: 60px;
        right: 60px;
    }
}

.top-btn .top-btn__icon {
    fill: currentColor;

}

// === === === ===

.photo-card {
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 960px) {
        &:hover .photo-card__item {
            bottom: 0;
        }
    }
}

.photo-card__img {
    object-fit: cover;
}

.photo-card__item {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    background: linear-gradient(111.68deg, rgba(221, 221, 221, 0.75) 7.59%, rgba(221, 221, 221, 0.8) 102.04%);

    @media screen and (min-width: 960px) {
        position: absolute;
        bottom: -60px;
        transition: all 250ms ease;
    }
}

.photo-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.photo-card__data {
    font-weight: 500;
}

.photo-card__icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-card__info .likes {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-star' viewBox='0 0 16 16'%3E%3Cpath d='M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z'/%3E%3C/svg%3E");
}

.photo-card__info .views {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-eye' viewBox='0 0 16 16'%3E%3Cpath d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'/%3E%3Cpath d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/%3E%3C/svg%3E");
}

.photo-card__info .comments {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chat-left' viewBox='0 0 16 16'%3E%3Cpath d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3E%3C/svg%3E");
}

.photo-card__info .downloads {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-cloud-arrow-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z'/%3E%3Cpath d='M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z'/%3E%3C/svg%3E");
}


// loader css //

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: #a5a5a5;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #2e2e2e;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}