html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90.68deg, #ffffff 1.59%, #d2d2d4 102.04%);
  position: relative;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-left: auto;
  z-index: 1;
  border: 1px solid #7b797944;
  outline: none;
  box-shadow: 0px 0px 30px rgba(119, 119, 121, 0.35);
  background-color: #d2d2d4;
  color: #3e3e3e;
  padding: 10px;
  border-radius: 10px;
  fill: currentColor;
  transition: color 300ms ease, background 300ms ease;

  &:hover,
  &:focus {
    color: #d2d2d4;
    background: linear-gradient(
      114.66deg,
      rgba(52, 52, 52, 0.6) -14.14%,
      rgba(35, 35, 35, 0.54) 74.98%
    );
    cursor: pointer;
  }

  @media screen and (min-width: 780px) {
    padding: 15px;
    bottom: 40px;
    right: 40px;

    & .top-btn__icon {
      width: 27px;
      height: 27px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 15px;
    bottom: 60px;
    right: 60px;

    & .top-btn__icon {
      width: 30px;
      height: 30px;
    }
  }
}

.top-btn .top-btn__icon {
  fill: currentColor;
}

@keyframes shake {
  10% {
    transform: scale(1.15) rotate(5deg);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  30% {
    transform: scale(1.15) rotate(5deg);
  }
  40% {
    transform: none;
  }
}
